.social-accounts-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.social-accounts-screen .social-accounts-2 {
  background-color: #ffffff;
  height: 1195px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.social-accounts-screen .overlap-9 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 868px;
}

.social-accounts-screen .overlap-10 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 868px;
}

.social-accounts-screen .maki-arrow {
  height: 15px;
  left: 830px;
  position: absolute;
  top: 17px;
  width: 15px;
}

.social-accounts-screen .rectangle {
  background-color: #134e841a;
  height: 53px;
  left: 272px;
  position: absolute;
  top: 1px;
  width: 596px;
}

.social-accounts-screen .text-wrapper-14 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 322px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.social-accounts-screen .solar-alt-arrow-down {
  height: 25px;
  left: 276px;
  position: absolute;
  top: 15px;
  width: 25px;
}

.social-accounts-screen .vector {
  height: 17px;
  left: 22px;
  position: absolute;
  top: 237px;
  width: 15px;
}

.social-accounts-screen .eos-icons-templates {
  height: 15px;
  left: 23px;
  position: absolute;
  top: 232px;
  width: 15px;
}

.social-accounts-screen .eos-icons-templates-2 {
  height: 15px;
  left: 21px;
  position: absolute;
  top: 232px;
  width: 15px;
}

.social-accounts-screen .frame {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.social-accounts-screen .overlap-11 {
  height: 1485px;
  position: relative;
}

.social-accounts-screen .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.social-accounts-screen .rectangle-2 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.social-accounts-screen .rectangle-3 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.social-accounts-screen .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.social-accounts-screen .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.social-accounts-screen .rectangle-4 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.social-accounts-screen .vector-2 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.social-accounts-screen .vector-3 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.social-accounts-screen .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.social-accounts-screen .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.social-accounts-screen .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.social-accounts-screen .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.social-accounts-screen .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.social-accounts-screen .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.social-accounts-screen .eos-icons-templates-3 {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.social-accounts-screen .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.social-accounts-screen .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.social-accounts-screen .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.social-accounts-screen .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.social-accounts-screen .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.social-accounts-screen .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.social-accounts-screen .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.social-accounts-screen .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.social-accounts-screen .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.social-accounts-screen .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.social-accounts-screen .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.social-accounts-screen .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.social-accounts-screen .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.social-accounts-screen .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.social-accounts-screen .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.social-accounts-screen .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.social-accounts-screen .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.social-accounts-screen .component-15 {
  left: 96px !important;
  position: absolute !important;
  top: 430px !important;
}

.social-accounts-screen .overlap-12 {
  height: 658px;
  left: 276px;
  position: absolute;
  top: 73px;
  width: 562px;
}

.social-accounts-screen .vector-4 {
  height: 10px;
  left: 419px;
  position: absolute;
  top: 107px;
  width: 13px;
}

.social-accounts-screen .rectangle-5 {
  background-color: #ececec;
  border-radius: 10px;
  height: 475px;
  left: 0;
  position: absolute;
  top: 0;
  width: 562px;
}

.social-accounts-screen .rectangle-6 {
  background-color: #ececec;
  border-radius: 10px;
  height: 656px;
  left: 9px;
  position: absolute;
  top: 2px;
  width: 553px;
}

.social-accounts-screen .logos-reddit-icon {
  height: 20px;
  left: 218px;
  position: absolute;
  top: 330px;
  width: 25px;
}

.social-accounts-screen .frame-2 {
  background-color: #e2e2e2;
  height: 71px;
  left: 19px;
  position: absolute;
  top: 154px;
  width: 235px;
}

.social-accounts-screen .logos-youtube-icon {
  height: 20px;
  left: 188px;
  position: absolute;
  top: 28px;
  width: 25px;
}

.social-accounts-screen .http-www-example-com-wrapper {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 21px;
  overflow: hidden;
  position: absolute;
  top: 26px;
  width: 160px;
}

.social-accounts-screen .http-www-example-com {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 8px;
  font-weight: 600;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
}

.social-accounts-screen .frame-3 {
  background-color: #e2e2e2;
  height: 71px;
  left: 307px;
  position: absolute;
  top: 154px;
  width: 235px;
}

.social-accounts-screen .img-2 {
  height: 20px;
  left: 189px;
  position: absolute;
  top: 26px;
  width: 25px;
}

.social-accounts-screen .frame-wrapper {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 17px;
  position: absolute;
  top: 24px;
  width: 160px;
}

.social-accounts-screen .overlap-group-wrapper {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  overflow: hidden;
}

.social-accounts-screen .overlap-group-2 {
  height: 14px;
  left: 12px;
  position: relative;
  top: 7px;
  width: 137px;
}

.social-accounts-screen .text {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 10px;
  font-weight: 600;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.social-accounts-screen .http-www-example-com-2 {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 8px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.social-accounts-screen .frame-4 {
  background-color: #e2e2e2;
  height: 71px;
  left: 307px;
  position: absolute;
  top: 236px;
  width: 235px;
}

.social-accounts-screen .frame-5 {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 19px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 160px;
}

.social-accounts-screen .overlap-group-3 {
  height: 14px;
  left: 12px;
  position: relative;
  top: 5px;
  width: 136px;
}

.social-accounts-screen .text-2 {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 10px;
  font-weight: 600;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.social-accounts-screen .http-www-example-com-3 {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 8px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
}

.social-accounts-screen .frame-6 {
  background-color: #e2e2e2;
  height: 71px;
  left: 307px;
  position: absolute;
  top: 315px;
  width: 235px;
}

.social-accounts-screen .frame-7 {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 22px;
  overflow: hidden;
  position: absolute;
  top: 23px;
  width: 160px;
}

.social-accounts-screen .http-www-example-com-4 {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 8px;
  font-weight: 600;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.social-accounts-screen .img-3 {
  height: 20px;
  left: 190px;
  position: absolute;
  top: 26px;
  width: 25px;
}

.social-accounts-screen .frame-8 {
  background-color: #e2e2e2;
  height: 71px;
  left: 307px;
  position: absolute;
  top: 396px;
  width: 235px;
}

.social-accounts-screen .logos-reddit-icon-2 {
  height: 20px;
  left: 194px;
  position: absolute;
  top: 25px;
  width: 25px;
}

.social-accounts-screen .overlap-wrapper {
  background-color: #e2e2e2;
  height: 71px;
  left: 307px;
  position: absolute;
  top: 477px;
  width: 235px;
}

.social-accounts-screen .overlap-13 {
  height: 50px;
  left: 22px;
  position: relative;
  top: 10px;
  width: 213px;
}

.social-accounts-screen .frame-9 {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 13px;
  width: 160px;
}

.social-accounts-screen .devicon-facebook {
  height: 50px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 60px;
}

.social-accounts-screen .frame-10 {
  background-color: #e2e2e2;
  height: 71px;
  left: 307px;
  position: absolute;
  top: 559px;
  width: 235px;
}

.social-accounts-screen .frame-11 {
  background-color: #e2e2e2;
  height: 71px;
  left: 19px;
  position: absolute;
  top: 234px;
  width: 235px;
}

.social-accounts-screen .frame-12 {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 21px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 160px;
}

.social-accounts-screen .http-www-example-com-5 {
  color: #948a8a;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 8px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}

.social-accounts-screen .frame-13 {
  background-color: #e2e2e2;
  height: 71px;
  left: 19px;
  position: absolute;
  top: 315px;
  width: 235px;
}

.social-accounts-screen .frame-14 {
  background-color: #ffffff;
  border: 0.2px solid;
  border-color: #000000;
  border-radius: 10px;
  height: 24px;
  left: 21px;
  overflow: hidden;
  position: absolute;
  top: 24px;
  width: 160px;
}

.social-accounts-screen .frame-15 {
  background-color: #e2e2e2;
  height: 71px;
  left: 19px;
  position: absolute;
  top: 396px;
  width: 235px;
}

.social-accounts-screen .img-4 {
  height: 20px;
  left: 193px;
  position: absolute;
  top: 24px;
  width: 25px;
}

.social-accounts-screen .frame-16 {
  background-color: #e2e2e2;
  height: 71px;
  left: 19px;
  position: absolute;
  top: 477px;
  width: 235px;
}

.social-accounts-screen .frame-17 {
  background-color: #e2e2e2;
  height: 71px;
  left: 19px;
  position: absolute;
  top: 557px;
  width: 235px;
}

.social-accounts-screen .vector-wrapper {
  background-color: #111010;
  border-radius: 100px;
  height: 24px;
  left: 198px;
  position: absolute;
  top: 24px;
  width: 27px;
}

.social-accounts-screen .vector-5 {
  height: 18px;
  left: 6px;
  position: absolute;
  top: 3px;
  width: 16px;
}

.social-accounts-screen .connect-to-your {
  color: #000000;
  font-family: "Noto Sans-ExtraBold", Helvetica;
  font-size: 25px;
  font-weight: 800;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
}

.social-accounts-screen .overlap-14 {
  height: 61px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 872px;
}

.social-accounts-screen .rectangle-7 {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 872px;
}

.social-accounts-screen .text-wrapper-15 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.social-accounts-screen .rectangle-8 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.social-accounts-screen .overlap-15 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 874px;
}

.social-accounts-screen .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.social-accounts-screen .overlap-group-4 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.social-accounts-screen .img-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.social-accounts-screen .vector-6 {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.social-accounts-screen .text-wrapper-16 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.social-accounts-screen .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.social-accounts-screen .frame-2-instance {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 19px !important;
  width: 17px !important;
}

