.you-tube {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.you-tube .div-3 {
  background-color: #ffffff;
  height: 1195px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.you-tube .overlap-9 {
  height: 61px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 872px;
}

.you-tube .rectangle {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 872px;
}

.you-tube .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.you-tube .rectangle-2 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.you-tube .overlap-10 {
  background-color: #134e841a;
  height: 53px;
  left: 276px;
  position: absolute;
  top: 150px;
  width: 596px;
}

.you-tube .text-wrapper-15 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.you-tube .solar-alt-arrow-down {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 25px;
}

.you-tube .overlap-11 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 874px;
}

.you-tube .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.you-tube .overlap-group-2 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.you-tube .vector-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.you-tube .vector {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.you-tube .text-wrapper-16 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.you-tube .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.you-tube .frame {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 19px !important;
  width: 17px !important;
}

.you-tube .overlap-12 {
  border-radius: 7px;
  height: 221px;
  left: 300px;
  position: absolute;
  top: 229px;
  width: 542px;
}

.you-tube .vector-2 {
  height: 10px;
  left: 395px;
  position: absolute;
  top: 101px;
  width: 13px;
}

.you-tube .vector-3 {
  height: 10px;
  left: 393px;
  position: absolute;
  top: 103px;
  width: 13px;
}

.you-tube .frame-2 {
  border: 1px solid;
  border-color: #c4b9b9;
  border-radius: 7px;
  height: 221px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 542px;
}

.you-tube .vector-4 {
  height: 10px;
  left: 389px;
  position: absolute;
  top: 103px;
  width: 13px;
}

.you-tube .frame-3 {
  border: 1px solid;
  border-color: #bbaeae;
  border-radius: 6px;
  height: 27px;
  left: 32px;
  overflow: hidden;
  position: absolute;
  top: 39px;
  width: 501px;
}

.you-tube .text-wrapper-17 {
  color: #817b7b;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 190px;
}

.you-tube .youtube-channel-URL {
  color: #585151;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 168px;
}

.you-tube .rectangle-3 {
  background-color: #bebaba;
  border-radius: 3px;
  height: 11px;
  left: 35px;
  position: absolute;
  top: 83px;
  width: 14px;
}

.you-tube .rectangle-4 {
  background-color: #bebaba;
  border-radius: 3px;
  height: 11px;
  left: 35px;
  position: absolute;
  top: 103px;
  width: 14px;
}

.you-tube .overlap-13 {
  height: 39px;
  left: 55px;
  position: absolute;
  top: 78px;
  width: 200px;
}

.you-tube .text-wrapper-18 {
  color: #b8aaaa;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 200px;
}

.you-tube .text-wrapper-19 {
  color: #b8aaaa;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 200px;
}

.you-tube .text-wrapper-20 {
  color: #b9aaaa;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 132px;
  white-space: nowrap;
  width: 217px;
}

.you-tube .overlap-14 {
  height: 35px;
  left: 412px;
  position: absolute;
  top: 181px;
  width: 121px;
}

.you-tube .group-2 {
  height: 19px;
  left: 5px;
  position: absolute;
  top: 16px;
  width: 18px;
}

.you-tube .rectangle-5 {
  background-color: #1569a6;
  border-radius: 8px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 121px;
}

.you-tube .text-wrapper-21 {
  color: #ffffff;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 80px;
}

.you-tube .group-3 {
  height: 19px;
  left: 12px;
  position: absolute;
  top: 9px;
  width: 18px;
}

.you-tube .overlap-15 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 276px;
}

.you-tube .overlap-wrapper {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.you-tube .overlap-16 {
  height: 1485px;
  position: relative;
}

.you-tube .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.you-tube .rectangle-6 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.you-tube .rectangle-7 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.you-tube .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.you-tube .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.you-tube .rectangle-8 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.you-tube .vector-5 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.you-tube .vector-6 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.you-tube .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.you-tube .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.you-tube .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.you-tube .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.you-tube .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.you-tube .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.you-tube .eos-icons-templates {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.you-tube .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.you-tube .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.you-tube .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.you-tube .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.you-tube .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.you-tube .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.you-tube .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.you-tube .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.you-tube .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.you-tube .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.you-tube .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.you-tube .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.you-tube .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.you-tube .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.you-tube .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.you-tube .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.you-tube .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.you-tube .component-15 {
  left: 96px !important;
  position: absolute !important;
  top: 433px !important;
}

