.payment {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payment .div-3 {
  background-color: #ffffff;
  height: 1182px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.payment .overlap-9 {
  height: 102px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 874px;
}

.payment .rectangle {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 872px;
}

.payment .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.payment .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 874px;
}

.payment .overlap-group-2 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.payment .vector-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.payment .vector {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.payment .text-wrapper-15 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.payment .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.payment .frame {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 80px !important;
  width: 17px !important;
}

.payment .rectangle-2 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.payment .overlap-10 {
  background-color: #134e841a;
  height: 53px;
  left: 276px;
  position: absolute;
  top: 150px;
  width: 596px;
}

.payment .text-wrapper-16 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.payment .solar-alt-arrow-down {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 25px;
}

.payment .overlap-11 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 276px;
}

.payment .ri-skip-left-fill-wrapper {
  background-color: #6a6a6a;
  border: 1px solid;
  border-color: #00000033;
  height: 58px;
  left: 258px;
  position: absolute;
  top: 543px;
  width: 18px;
}

.payment .ri-skip-left-fill {
  height: 24px;
  left: -1px;
  position: absolute;
  top: 16px;
  width: 18px;
}

.payment .img-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000033;
  height: 58px;
  left: 258px;
  position: absolute;
  top: 543px;
  width: 18px;
}

.payment .overlap-wrapper {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.payment .overlap-12 {
  height: 1485px;
  position: relative;
}

.payment .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.payment .rectangle-3 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.payment .rectangle-4 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.payment .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.payment .text-wrapper-17 {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}

.payment .text-wrapper-18 {
  font-size: 12px;
}

.payment .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.payment .rectangle-5 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.payment .vector-2 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.payment .vector-3 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.payment .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.payment .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.payment .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.payment .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.payment .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.payment .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.payment .eos-icons-templates {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.payment .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.payment .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.payment .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.payment .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.payment .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.payment .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.payment .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.payment .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.payment .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.payment .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.payment .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.payment .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.payment .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.payment .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.payment .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.payment .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.payment .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.payment .component-15 {
  left: 93px !important;
  position: absolute !important;
  top: 433px !important;
}

.payment .logo {
  color: #ffffff;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  width: 31px;
}

.payment .text-wrapper-19 {
  color: #e6d5d5;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81px;
  white-space: nowrap;
  width: 151px;
}

.payment .element-per-month {
  color: transparent;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 101px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 102px;
  width: 133px;
}

.payment .text-wrapper-20 {
  color: #ffffff;
}

.payment .text-wrapper-21 {
  color: #d9c8c8;
}

.payment .text-wrapper-22 {
  color: #d9c8c8;
  font-size: 7px;
}

.payment .overlap-13 {
  border-radius: 6px;
  height: 808px;
  left: 304px;
  position: absolute;
  top: 232px;
  width: 549px;
}

.payment .vector-4 {
  height: 10px;
  left: 395px;
  position: absolute;
  top: 68px;
  width: 13px;
}

.payment .rectangle-6 {
  background-color: #d9d9d947;
  border-radius: 6px;
  height: 808px;
  left: 0;
  position: absolute;
  top: 0;
  width: 549px;
}

.payment .rectangle-7 {
  background-color: #1569a6;
  border-radius: 6px;
  height: 47px;
  left: 52px;
  position: absolute;
  top: 26px;
  width: 453px;
}

.payment .vector-5 {
  height: 14px;
  left: 350px;
  position: absolute;
  top: 44px;
  width: 10px;
}

.payment .vector-6 {
  height: 14px;
  left: 360px;
  position: absolute;
  top: 44px;
  width: 10px;
}

.payment .vector-7 {
  height: 14px;
  left: 370px;
  position: absolute;
  top: 44px;
  width: 10px;
}

.payment .pay-with-link {
  color: #ffffff;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
  width: 259px;
}

.payment .text-wrapper-23 {
  color: #ffffff;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.payment .text-wrapper-24 {
  font-size: 20px;
}

.payment .email-example-gmail-wrapper {
  border: 1px solid;
  border-color: #c3c0c0;
  border-radius: 6px;
  height: 56px;
  left: 56px;
  overflow: hidden;
  position: absolute;
  top: 122px;
  width: 449px;
}

.payment .text-wrapper-25 {
  color: #a09393;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 410px;
}

.payment .frame-2 {
  border: 1px solid;
  border-color: #c3c0c0;
  border-radius: 6px;
  height: 56px;
  left: 56px;
  overflow: hidden;
  position: absolute;
  top: 403px;
  width: 449px;
}

.payment .overlap-group-wrapper {
  border: 1px solid;
  border-color: #c3c0c0;
  border-radius: 6px;
  height: 56px;
  left: 56px;
  overflow: hidden;
  position: absolute;
  top: 514px;
  width: 449px;
}

.payment .overlap-14 {
  height: 33px;
  left: 15px;
  position: relative;
  top: 15px;
  width: 416px;
}

.payment .text-wrapper-26 {
  color: #524b4b;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 410px;
}

.payment .frame-143 {
  height: 15px !important;
  left: 396px !important;
  position: absolute !important;
  top: 12px !important;
  width: 20px !important;
}

.payment .frame-3 {
  border: 1px solid;
  border-color: #c3c0c0;
  border-radius: 6px;
  height: 56px;
  left: 56px;
  overflow: hidden;
  position: absolute;
  top: 228px;
  width: 449px;
}

.payment .element {
  color: transparent;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 410px;
}

.payment .text-wrapper-27 {
  color: #a09393;
}

.payment .text-wrapper-28 {
  color: #1569a6;
  font-size: 24px;
}

.payment .logos-unionpay {
  height: 19px;
  left: 338px;
  position: absolute;
  top: 8px;
  width: 32px;
}

.payment .logos-jcb {
  height: 22px;
  left: 378px;
  position: absolute;
  top: 8px;
  width: 38px;
}

.payment .MM-YY-CVC-wrapper {
  border: 1px solid;
  border-color: #c3c0c0;
  border-radius: 6px;
  height: 56px;
  left: 56px;
  overflow: hidden;
  position: absolute;
  top: 283px;
  width: 449px;
}

.payment .text-wrapper-29 {
  color: #554e4e;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 199px;
  width: 222px;
}

.payment .text-wrapper-30 {
  color: #554e4e;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 374px;
  width: 222px;
}

.payment .text-wrapper-31 {
  color: #554e4e;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 487px;
  width: 222px;
}

.payment .rectangle-8 {
  background-color: #3ba0e9;
  border-radius: 7px;
  height: 56px;
  left: 58px;
  position: absolute;
  top: 617px;
  width: 447px;
}

.payment .subscribe {
  color: #ffffff;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 633px;
  width: 225px;
}

