.API-key {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.API-key .div-3 {
  background-color: #ffffff;
  height: 1195px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.API-key .overlap-9 {
  height: 61px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 872px;
}

.API-key .rectangle {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 872px;
}

.API-key .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.API-key .rectangle-2 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.API-key .overlap-10 {
  background-color: #134e841a;
  height: 53px;
  left: 276px;
  position: absolute;
  top: 150px;
  width: 596px;
}

.API-key .text-wrapper-15 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.API-key .solar-alt-arrow-down {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 25px;
}

.API-key .overlap-11 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 874px;
}

.API-key .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.API-key .overlap-group-2 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.API-key .vector-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.API-key .vector {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.API-key .text-wrapper-16 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.API-key .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.API-key .frame {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 19px !important;
  width: 17px !important;
}

.API-key .overlap-12 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 276px;
}

.API-key .overlap-wrapper {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.API-key .overlap-13 {
  height: 1485px;
  position: relative;
}

.API-key .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.API-key .rectangle-3 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.API-key .rectangle-4 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.API-key .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.API-key .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.API-key .rectangle-5 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.API-key .vector-2 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.API-key .vector-3 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.API-key .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.API-key .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.API-key .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.API-key .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.API-key .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.API-key .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.API-key .eos-icons-templates {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.API-key .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.API-key .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.API-key .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.API-key .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.API-key .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.API-key .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.API-key .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.API-key .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.API-key .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.API-key .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.API-key .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.API-key .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.API-key .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.API-key .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.API-key .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.API-key .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.API-key .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.API-key .component-15 {
  left: 93px !important;
  position: absolute !important;
  top: 436px !important;
}

.API-key .frame-2 {
  border: 1px solid;
  border-color: #9c8d8d;
  border-radius: 7px;
  height: 290px;
  left: 285px;
  overflow: hidden;
  position: absolute;
  top: 260px;
  width: 555px;
}

.API-key .overlap-14 {
  border-radius: 5px;
  height: 157px;
  left: 28px;
  position: absolute;
  top: 106px;
  width: 497px;
}

.API-key .vector-4 {
  height: 15px;
  left: 376px;
  position: absolute;
  top: 0;
  width: 14px;
}

.API-key .frame-3 {
  border: 1px solid;
  border-color: #bda0a0;
  border-radius: 5px;
  height: 157px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 497px;
}

.API-key .frame-4 {
  border: 1px solid;
  border-color: #a29a9a;
  border-radius: 5px;
  height: 26px;
  left: 134px;
  overflow: hidden;
  position: absolute;
  top: 85px;
  width: 79px;
}

.API-key .text-wrapper-17 {
  color: #1569a6;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 47px;
}

.API-key .vector-5 {
  height: 11px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 13px;
}

.API-key .frame-5 {
  border: 1px solid;
  border-color: #1569a6;
  border-radius: 5px;
  height: 26px;
  left: 249px;
  overflow: hidden;
  position: absolute;
  top: 84px;
  width: 79px;
}

.API-key .text-wrapper-18 {
  color: #1569a6;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 47px;
}

.API-key .group-2 {
  height: 13px;
  left: 14px;
  position: absolute;
  top: 6px;
  width: 15px;
}

.API-key .text-wrapper-19 {
  color: #473f3f;
  font-family: "Noto Sans-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
  width: 234px;
}

.API-key .overlap-15 {
  height: 61px;
  left: 37px;
  position: absolute;
  top: 22px;
  width: 354px;
}

.API-key .text-wrapper-20 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 55px;
}

.API-key .text-wrapper-21 {
  color: #716a6a;
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
  width: 354px;
}

