.click-link {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.click-link .div-3 {
  background-color: #ffffff;
  height: 1195px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.click-link .overlap-9 {
  height: 61px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 872px;
}

.click-link .rectangle {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 872px;
}

.click-link .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.click-link .rectangle-2 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.click-link .overlap-10 {
  background-color: #134e841a;
  height: 53px;
  left: 276px;
  position: absolute;
  top: 150px;
  width: 596px;
}

.click-link .text-wrapper-15 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.click-link .solar-alt-arrow-down {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 25px;
}

.click-link .overlap-11 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 874px;
}

.click-link .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.click-link .overlap-group-2 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.click-link .vector-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.click-link .vector {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.click-link .text-wrapper-16 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.click-link .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.click-link .frame {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 19px !important;
  width: 17px !important;
}

.click-link .overlap-12 {
  border-radius: 7px;
  height: 117px;
  left: 297px;
  position: absolute;
  top: 225px;
  width: 552px;
}

.click-link .vector-2 {
  height: 10px;
  left: 398px;
  position: absolute;
  top: 105px;
  width: 13px;
}

.click-link .rectangle-3 {
  background-color: #e8eaea;
  border-radius: 7px;
  height: 117px;
  left: 0;
  position: absolute;
  top: 0;
  width: 552px;
}

.click-link .text-wrapper-17 {
  color: #000000;
  font-family: "Noto Sans-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 470px;
}

.click-link .frame-2 {
  border: 1px solid;
  border-color: #b2aaaa;
  border-radius: 5px;
  height: 42px;
  left: 24px;
  overflow: hidden;
  position: absolute;
  top: 43px;
  width: 149px;
}

.click-link .text-wrapper-18 {
  color: #575050;
  font-family: "Noto Sans-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 8px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 123px;
}

.click-link .rectangle-4 {
  background-color: #1569a6;
  border: 1px solid;
  border-radius: 6px;
  height: 42px;
  left: 194px;
  position: absolute;
  top: 43px;
  width: 149px;
}

.click-link .text-wrapper-19 {
  color: #f4efef;
  font-family: "Noto Sans-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 53px;
  white-space: nowrap;
  width: 45px;
}

.click-link .overlap-13 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 276px;
}

.click-link .overlap-wrapper {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.click-link .overlap-14 {
  height: 1485px;
  position: relative;
}

.click-link .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.click-link .rectangle-5 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.click-link .rectangle-6 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.click-link .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.click-link .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.click-link .rectangle-7 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.click-link .vector-3 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.click-link .vector-4 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.click-link .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.click-link .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.click-link .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.click-link .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.click-link .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.click-link .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.click-link .eos-icons-templates {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.click-link .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.click-link .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.click-link .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.click-link .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.click-link .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.click-link .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.click-link .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.click-link .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.click-link .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.click-link .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.click-link .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.click-link .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.click-link .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.click-link .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.click-link .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.click-link .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.click-link .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.click-link .component-15 {
  left: 94px !important;
  position: absolute !important;
  top: 433px !important;
}

