.user-profiles {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.user-profiles .div-3 {
  background-color: #ffffff;
  height: 1233px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.user-profiles .overlap-9 {
  height: 61px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 872px;
}

.user-profiles .rectangle {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 872px;
}

.user-profiles .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.user-profiles .rectangle-2 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.user-profiles .overlap-10 {
  background-color: #134e841a;
  height: 53px;
  left: 276px;
  position: absolute;
  top: 150px;
  width: 596px;
}

.user-profiles .text-wrapper-15 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.user-profiles .solar-alt-arrow-down {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 25px;
}

.user-profiles .overlap-11 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 874px;
}

.user-profiles .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.user-profiles .overlap-group-2 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.user-profiles .vector-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.user-profiles .vector {
  height: 21px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.user-profiles .text-wrapper-16 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.user-profiles .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.user-profiles .frame {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 19px !important;
  width: 17px !important;
}

.user-profiles .overlap-12 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 276px;
}

.user-profiles .ri-skip-left-fill-wrapper {
  background-color: #6a6a6a;
  border: 1px solid;
  border-color: #00000033;
  height: 58px;
  left: 258px;
  position: absolute;
  top: 543px;
  width: 18px;
}

.user-profiles .ri-skip-left-fill {
  height: 24px;
  left: -1px;
  position: absolute;
  top: 16px;
  width: 18px;
}

.user-profiles .img-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000033;
  height: 58px;
  left: 258px;
  position: absolute;
  top: 543px;
  width: 18px;
}

.user-profiles .overlap-wrapper {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.user-profiles .overlap-13 {
  height: 1485px;
  position: relative;
}

.user-profiles .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.user-profiles .rectangle-3 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.user-profiles .rectangle-4 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.user-profiles .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.user-profiles .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.user-profiles .rectangle-5 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.user-profiles .vector-2 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.user-profiles .vector-3 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.user-profiles .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.user-profiles .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.user-profiles .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.user-profiles .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.user-profiles .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.user-profiles .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.user-profiles .eos-icons-templates {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.user-profiles .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.user-profiles .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.user-profiles .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.user-profiles .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.user-profiles .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.user-profiles .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.user-profiles .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.user-profiles .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.user-profiles .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.user-profiles .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.user-profiles .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.user-profiles .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.user-profiles .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.user-profiles .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.user-profiles .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.user-profiles .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.user-profiles .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.user-profiles .component-15 {
  left: 94px !important;
  position: absolute !important;
  top: 433px !important;
}

.user-profiles .frame-2 {
  border: 1px solid;
  border-color: #9a9494;
  border-radius: 4px;
  height: 564px;
  left: 297px;
  overflow: hidden;
  position: absolute;
  top: 228px;
  width: 521px;
}

.user-profiles .text-wrapper-17 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 238px;
}

.user-profiles .overlap-14 {
  background-color: #f4efef;
  border-radius: 5px;
  height: 349px;
  left: 40px;
  position: absolute;
  top: 98px;
  width: 334px;
}

.user-profiles .text-wrapper-18 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 190px;
}

.user-profiles .text-wrapper-19 {
  color: #5b5151;
  font-family: "Inter-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  width: 265px;
}

.user-profiles .frame-3 {
  border: 1px solid;
  border-color: #aca4a4;
  border-radius: 7px;
  height: 29px;
  left: 28px;
  overflow: hidden;
  position: absolute;
  top: 74px;
  width: 288px;
}

.user-profiles .text-wrapper-20 {
  color: #b0a4a4;
  font-family: "Inter-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  width: 172px;
}

.user-profiles .frame-4 {
  border: 1px solid;
  border-color: #aca4a4;
  border-radius: 7px;
  height: 29px;
  left: 28px;
  overflow: hidden;
  position: absolute;
  top: 112px;
  width: 288px;
}

.user-profiles .frame-5 {
  border: 1px solid;
  border-color: #aca4a4;
  border-radius: 7px;
  height: 29px;
  left: 28px;
  overflow: hidden;
  position: absolute;
  top: 150px;
  width: 288px;
}

.user-profiles .frame-6 {
  border: 1px solid;
  border-color: #a09999;
  border-radius: 7px;
  height: 88px;
  left: 31px;
  overflow: hidden;
  position: absolute;
  top: 207px;
  width: 285px;
}

.user-profiles .text-wrapper-21 {
  color: #888484;
  font-family: "Inter-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 260px;
}

.user-profiles .overlap-group-3 {
  height: 37px;
  left: 215px;
  position: absolute;
  top: 304px;
  width: 101px;
}

.user-profiles .rectangle-6 {
  background-color: #989fa4;
  border-radius: 8px;
  height: 37px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 85px;
}

.user-profiles .text-wrapper-22 {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 101px;
}

.user-profiles .overlap-15 {
  background-color: #1569a6;
  border-radius: 10px;
  height: 52px;
  left: 40px;
  position: absolute;
  top: 494px;
  width: 334px;
}

.user-profiles .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 292px;
}

