.webhooks-screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.webhooks-screen .webhooks-2 {
  background-color: #ffffff;
  height: 1195px;
  overflow: hidden;
  position: relative;
  width: 872px;
}

.webhooks-screen .overlap-9 {
  height: 61px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 872px;
}

.webhooks-screen .rectangle {
  background-color: #16527d;
  height: 60px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 872px;
}

.webhooks-screen .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 215px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.webhooks-screen .rectangle-2 {
  background-color: #134e8436;
  height: 53px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 872px;
}

.webhooks-screen .overlap-10 {
  background-color: #134e841a;
  height: 53px;
  left: 276px;
  position: absolute;
  top: 150px;
  width: 596px;
}

.webhooks-screen .text-wrapper-15 {
  color: #000000;
  font-family: "Noto Sans-DisplaySemiBold", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  width: 169px;
}

.webhooks-screen .solar-alt-arrow-down {
  height: 25px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 25px;
}

.webhooks-screen .overlap-11 {
  height: 41px;
  left: 0;
  position: absolute;
  top: 56px;
  width: 874px;
}

.webhooks-screen .group {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 874px;
}

.webhooks-screen .overlap-group-2 {
  background-color: #ffffff;
  height: 41px;
  position: relative;
  width: 872px;
}

.webhooks-screen .vector-wrapper {
  background-color: #d9d9d9;
  border-radius: 16.5px;
  height: 33px;
  left: 835px;
  position: absolute;
  top: 4px;
  width: 33px;
}

.webhooks-screen .vector {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 6px;
  width: 16px;
}

.webhooks-screen .text-wrapper-16 {
  color: #000000;
  font-family: "Style Script-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.webhooks-screen .mdi-bell-outline {
  height: 24px;
  left: 797px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.webhooks-screen .frame {
  height: 9px !important;
  left: 766px !important;
  position: absolute !important;
  top: 19px !important;
  width: 17px !important;
}

.webhooks-screen .vector-2 {
  height: 10px;
  left: 695px;
  position: absolute;
  top: 330px;
  width: 13px;
}

.webhooks-screen .overlap-12 {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 150px;
  width: 276px;
}

.webhooks-screen .overlap-wrapper {
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 276px;
}

.webhooks-screen .overlap-13 {
  height: 1485px;
  position: relative;
}

.webhooks-screen .tabler-social {
  height: 24px;
  left: 126px;
  position: absolute;
  top: 332px;
  width: 24px;
}

.webhooks-screen .rectangle-3 {
  background-color: #1468a5;
  height: 1485px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 205px;
}

.webhooks-screen .rectangle-4 {
  height: 42px;
  left: 71px;
  position: absolute;
  top: 220px;
  width: 205px;
}

.webhooks-screen .create-new {
  color: #ffffff;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 118px;
}

.webhooks-screen .line {
  height: 3px;
  left: 98px;
  position: absolute;
  top: 74px;
  width: 136px;
}

.webhooks-screen .rectangle-5 {
  background-color: #16527d;
  height: 1485px;
  left: 0;
  position: absolute;
  top: 0;
  width: 71px;
}

.webhooks-screen .vector-3 {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 52px;
  width: 20px;
}

.webhooks-screen .vector-4 {
  height: 19px;
  left: 22px;
  position: absolute;
  top: 160px;
  width: 19px;
}

.webhooks-screen .dashboard-instance {
  left: 112px !important;
  position: absolute !important;
  top: 162px !important;
}

.webhooks-screen .e-signstures-instance {
  left: 112px !important;
  position: absolute !important;
  top: 365px !important;
}

.webhooks-screen .design-component-instance-node {
  left: 112px !important;
  position: absolute !important;
  top: 298px !important;
}

.webhooks-screen .workflows-instance {
  left: 112px !important;
  position: absolute !important;
  top: 503px !important;
}

.webhooks-screen .template-instance {
  left: 112px !important;
  position: absolute !important;
  top: 235px !important;
}

.webhooks-screen .material-symbols {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 504px;
  width: 18px;
}

.webhooks-screen .eos-icons-templates {
  height: 18px;
  left: 20px;
  position: absolute;
  top: 235px;
  width: 18px;
}

.webhooks-screen .fluent-people-team {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 299px;
  width: 18px;
}

.webhooks-screen .setting-instance {
  left: 112px !important;
  position: absolute !important;
  top: 948px !important;
}

.webhooks-screen .ant-design-setting {
  height: 18px;
  left: 21px;
  position: absolute;
  top: 947px;
  width: 18px;
}

.webhooks-screen .ph-signature-bold {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 369px;
  width: 18px;
}

.webhooks-screen .mingcute-link-fill {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 437px;
  width: 18px;
}

.webhooks-screen .posts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 573px !important;
}

.webhooks-screen .solar-posts-carousel {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 575px;
  width: 18px;
}

.webhooks-screen .webhooks-instance {
  left: 112px !important;
  position: absolute !important;
  top: 640px !important;
}

.webhooks-screen .logos-hookstate {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 642px;
  width: 18px;
}

.webhooks-screen .social-accounts-instance {
  left: 112px !important;
  position: absolute !important;
  top: 711px !important;
}

.webhooks-screen .arcticons-social {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 711px;
  width: 20px;
}

.webhooks-screen .user-profile-instance {
  left: 112px !important;
  position: absolute !important;
  top: 771px !important;
}

.webhooks-screen .iconamoon-profile {
  height: 24px;
  left: 23px;
  position: absolute;
  top: 771px;
  width: 24px;
}

.webhooks-screen .feeds-instance {
  left: 112px !important;
  position: absolute !important;
  top: 831px !important;
}

.webhooks-screen .fluent-feed {
  height: 20px;
  left: 25px;
  position: absolute;
  top: 831px;
  width: 20px;
}

.webhooks-screen .account-instance {
  left: 113px !important;
  position: absolute !important;
  top: 890px !important;
}

.webhooks-screen .carbon-account {
  height: 18px;
  left: 23px;
  position: absolute;
  top: 890px;
  width: 18px;
}

.webhooks-screen .component-15 {
  left: 88px !important;
  position: absolute !important;
  top: 433px !important;
}

.webhooks-screen .text-wrapper-17 {
  color: #000000;
  font-family: "Noto Sans-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 315px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 221px;
  width: 160px;
}

.webhooks-screen .check-user-profile-s {
  color: transparent;
  font-family: "Noto Sans-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 317px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 252px;
  width: 441px;
}

.webhooks-screen .text-wrapper-18 {
  color: #000000;
}

.webhooks-screen .text-wrapper-19 {
  color: #3a0fe6;
}

.webhooks-screen .text-wrapper-20 {
  color: #3a0fe6;
  text-decoration: underline;
}

